{
  "presets": [
    "react",
    [
      "env",
      {
        "debug": true,
        "modules": false,
        "targets": {
          // The % refers to the global coverage of users from browserslist
          "browsers": [
            ">5%",
           lo "not ie 11",
            "not op_mini all"
          ]
        }
      }
    ],
    "stage-0"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ],
        "stage-0"
      ]
    }
  },
  "plugins": [
    "emotion",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
