{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": [ ">5%", "not ie 11", "not op_mini all"]
        }
      }
    ]
  ],
  "ignore": [],
  "plugins": [
    ["emotion", { "sourceMap": true, "autoLabel": true }],
    "@babel/plugin-syntax-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "require-context-hook"
      ]
    }
  }
}

